li:hover {
    background-color: aliceblue;
}

html {
    min-width: 500px;
}

body {
    min-width: 550px;
}

.no_padding {
    padding: 0px;
}

.min_width {
    min-width: 150px;
}

.logout:hover {
    color: lightskyblue;
    background-color: lightgrey;
}